@import "tailwindcss";

/* Định nghĩa mượt mà cho toàn bộ hệ thống */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans), sans-serif;
  scroll-behavior: smooth;
}

html, body {
    background-color: #0a0a0f;
    color: #ecedee;
    color-scheme: dark;  /* scroll trình duyệt tự tối */
    min-height: 100vh;
}

/* Thanh cuộn (Scrollbar) hiện đại, bo góc đồng bộ NextUI */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 20, 140, 0.2); /* Sử dụng chính màu tím #4D148c nhưng làm mờ */
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 20, 140, 0.4);
}